* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fcf8ff; /* from the design system */
  color: #1b1b23;
}

/* Base App layout */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fcf8ff;
  color: #1b1b23;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}
